body{
    background: url("../assets/background.jpg") no-repeat center center fixed;
    background-size: cover;

}
h1{
    color: #FFFFFF;
    font-family: 'Indie Flower', cursive;
    margin: 0 auto;
    margin-top: 300px;
    width: 80%;
    padding: 20px;
    font-size: 5em;
    text-shadow: 2px 2px #b0a9a9;
}